{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/link.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>Website - Estacionamento</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Estacionamento 24h</h1>
                <span>Slogan da Empresa</span>
            </div>
            <div class="col-6">
                <img src="{% static 'img/logo.png' %}" alt="Logo Estacionamento" class="imglogo">
            </div>
        </div>
        {% block main %}
        {% endblock main %}
        {% include 'website/footer.html' %}
    </div>
</body>
</html>