{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/link.css' %}">
<div class="row confdiv">
    <div class="col-3">
        <ul class="nav nav-tabs">
          <ul class="nav flex-column ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'website_home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website_servicos' %}#">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website_sobre' %}">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'website_planos' %}">Planos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'website_contato' %}">Contatos</a>
                </li>
            </ul>
        </ul>
    </div>
    <div class="col-6">
            <p class="confroda">Desenvolvido por <a href="https://github.com/iaguy" target="_blank">Bruno Iaguy</a></p>
    </div>
    <div class="col-3 confdiv">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Detraxit consequat et quo num tendi nada.Pra lá , depois divoltis porris, paradis.Leite de capivaris, leite de mula manquis sem cabeça.</p>
    </div>
</div>