<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'website_home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website_servicos' %}">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website_sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'website_planos' %}"> Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_contato' %}">Contatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sistema</a>
              </li>
          </ul>
    </div>
</div>