{% extends 'website/base.html' %}
{% load static %}
{% block main %}
<h1>Conheça a Nossa História</h1>
<h2>Saiba mais sobre nós</h2>
<div class="row">
    <div class="col-6">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Quem num gosta di mim que vai caçá sua turmis!Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Diuretics paradis num copo é motivis de denguis.

            Manduma pindureta quium dia nois paga.Pra lá , depois divoltis porris, paradis.Viva Forevis aptent taciti sociosqu ad litora torquent.A ordem dos tratores não altera o pão duris.
            
            Pra lá , depois divoltis porris, paradis.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Per aumento de cachacis, eu reclamis.Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
            
            In elementis mé pra quem é amistosis quis leo.Aenean aliquam molestie leo, vitae iaculis nisl.Cevadis im ampola pa arma uma pindureta.Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
            
            Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Paisis, filhis, espiritis santis.Suco de cevadiss deixa as pessoas mais interessantis.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
    </div>
    <div class="col-6">
        <img src="{% static 'img/logo.png' %}" alt="Logo Estacionamento" class="imgplano mx-auto d-block">
    </div>
{% endblock main %}