{% extends 'base.html' %}

{% block main %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Delete</title>
    </head>
    <body>
    <div class="row">
        <div class="col">
            <h2>Tem certeza que deseja deletar {{ obj }}</h2>
            <form method="POST">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Deletar</button>
            </form>
        </div>
    </div>
    </body>
    </html>
{% endblock %}