{% extends 'base.html' %}
{% load bootstrap %}
{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_movmensalistas' %}">MovMensalistas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">MovRotativo</a></li>
        </ul>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Olá, {{ user }}</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
        {% endif %}
    </ul>
{% endblock menu %}

{% block main %}
<div class="row">
    <div class="col">
        <h1>Sejam Bem Vindos</h1>
    </div>
</div>
{% endblock %}