{% extends 'base.html' %}
{% load bootstrap %}
{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_movmensalistas' %}">MovMensalistas</a></li>
            <li><a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">MovRotativo</a></li>
        </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock menu %}
{% block main %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Mensalista</title>
</head>
<body>
  <div class="row">
    <div class="col">
      <h1>Lista de Mensalista</h1>
      <ul>
      {% for mensalista in mensalistas %}
        <li>
          <a href="{% url 'core_mensalistas_update' mensalista.id%}">
            {{mensalista.veiculo}} - {{mensalista.placa}}
          </a>
        </li>
      {%endfor%}
      </ul>
      <form action="{% url 'core_mensalistas_novo' %}" method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-dark">Confirmar</button>
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}