{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Mensalista</title>
</head>
<body>
  <div class="row">
    <div class="col">
      <h1>Lista de Mensalista</h1>
      <ul>
      {% for mensalista in mensalistas %}
        <li>
          <a href="{% url 'core_mensalistas_update' mensalista.id%}">
            {{mensalista.veiculo}} - {{mensalista.placa}}
          </a>
        </li>
      {%endfor%}
      </ul>
      <form action="{% url 'core_mensalistas_novo' %}" method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-dark">Confirmar</button>
      </form>
    </div>
  </div>
</body>
</html>
{% endblock %}