<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimento Mensalista</title>
</head>
<body>

<h1>Lista de Movimento Mensalista</h1>

<ul>
{% for mov in mov_mensalistas %}

<li> <a href="{% url 'core_movmensalistas_update' mov.id%}">{{ mov.mensalista}} - {{mov.dt_pgto}}</a></li>

{%endfor%}
</ul>

<form action="{% url 'core_movmensalista_novo' %}" method="POST">
    {% csrf_token %}

    {{form.as_p}}

    <button type="submit">Confirmar</button>

</form>

</body>
</html>