{% extends 'base.html' %}

{% block main %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Mensalista</title>
</head>
<body>

<h1>Lista de Mensalista</h1>
<ul>
{% for mensalista in mensalistas %}

<li> <a href="{% url 'core_mensalistas_update' mensalista.id%}">{{mensalista.veiculo}} - {{mensalista.placa}}</a></li>

{%endfor%}
</ul>


<form action="{% url 'core_mensalistas_novo' %}" method="POST">
    {% csrf_token %}

    {{form.as_p}}

    <button type="submit">Confirmar</button>

</form>

</body>
</html>
{% endblock %}