{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Lista de Movimentos Rotativos</title>
  </head>
  <body>
  <div class="row">
    <div class="col">
      <h1>Lista de Movimentos Rotativos</h1>
        <ul>
          {% for mov in mov_rota %}
              <li>
                <a href="{% url 'core_movrotativos_update' mov.id %}">
                  {{mov.veiculo.placa}} - {{mov.checkin}}
                </a>
             </li>
          {%endfor%}
        </ul>
        <form action="{% url 'core_movrotativos_novo' %}" method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-dark">Confirmar</button>
        </form>
    </div>
  </div>
  </body>
  </html>
{% endblock %}